<% 
const componentsDir = (args.components || "src/components");
%>
---
to: <%=componentsDir%>/App.js
overwrite: true
---
import React from "react";

import style from "./App.styl";

const App = () => (
    <p>TestApp</p>
);

export default App;